
body{
    margin: 0;
    padding: 0;
    background-color: rgb(180, 170, 170);
}
* {
    box-sizing: border-box;
}
.main {
    
    margin-left: 300px;
    margin-right: 300px;
    margin-top: -5px;
    height: 1260px;
    background-color: rgb(21, 56, 26);
    padding-left: 100px;
    padding-right: 100px;
    color: #fd8c25 ;
    font-size: large;
}