
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', global_font_string;
    font-weight: 400;
    background-color: #595d64;
}
* {
    box-sizing: border-box;
}
.main {
    border: 2px solid #595d64;;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: -5px;
    height: 1270px;
   background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    color: #595d64;
    font-size: large;
}
h2,h4{
    text-align: center;
}
h2{
    padding-top: 10px;
    color: #ffa500;
}
#submit {

    width: 700px;
    margin-left: -101px;
    background-color: white;
    color: #595d64;
    border: 2px solid white;
    font-size: large;
    text-align: center;
    font-family: 'Lato', global_font_string;
}

